{% extends "app/layout.html" %}

{% block headscript %}
<base target="_self" />
<script type="text/javascript">
    function OK() {
        if (window.opener != undefined) {
            //for chrome
            opener.RefreshList(11);
            window.opener.returnValue = 11;
        }
        else {
            window.returnValue = 22;
        }

        window.close();
    }



    function getModel(id) {
        var post_data = {
            "id": id
        };
        alert(id);
        $.ajax({
            url: '/model_upload',
            type: "POST",
            data: post_data,
            success: function (data) {
                data = JSON.parse(data);
                alert(data["result"]);

            }
        });
    }

    $().ready(function () {
      

        $("#Form1").submit(function (e) {

            var url = window.location.href;
            $.ajax({
                dataType: "text",                
                type: "get",
                url: "doAction", 
                data: $("#Form1").serialize(), // serializes the form's elements.
                // 如果表单提交成功
                success: function (data) {
                    //alert(data); // 显示django的response的内容
                    var obj = eval("(" + data + ")")
                    if (obj.result == "ok") {
                        OK();
                    }
                    else {
                        alert("提交失败，请重试");
                    }
                }
                ,
                error: function () {

                    alert('提交失败，程序错误，请联系管理员处理');

                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

    })

</script>
{% endblock %}

{% block content %}

<form id="Form1" method='POST' runat="server" role="form">
    {% csrf_token %}
    <input type="hidden" id="hdID" value="{{ mid }}" />
    <input type="hidden" id="action" name="action" value="detail" />
    <div style="width: 90%; margin: 0 auto;">
         <div class="form-group">
        {{ mailemessage_form }}
          </div>

         <div class="btn-group" style="display: table; width: auto; margin-left: auto; margin-right: auto;">
            <input type="submit" value="确认" class="btn btn-primary" />
        </div>
    </div>
    <!--
    <div style="width: 90%; margin: 0 auto;">
        <div class="form-group">
            <label for="ddlTitle">
                项目描述</label>
            <input type="text" id="ddTitle" class="form-control" />            
        </div>
        <div class="form-group">
            <label for="ddlType">
                分类</label>
            <select id="ddlType" class="form-control">
                <option ></option>
                <option >联动价格更新</option>
                <option >合同到期</option>
                <option >返利到期追踪</option>
                <option >设备分期付款</option>
                <option >国产化进度更新</option>
                <option >日常项目更新</option>

            </select>          
        </div>
        <div class="form-group">
            <label for="txtSupplier">
                供应商</label>
            <input type="text" id="txtSupplier" class="form-control" />    
        </div>
        <div class="form-group">
            <label for="txtMessage">
                提醒内容</label>
            <textarea id="txtMessage" class="form-control"></textarea>           
        </div>
         <div class="form-group">
            <label for="txtStartDate">
                项目开始日期</label>
            <input type="text" id="txtStartDate" class="form-control" />    
        </div>
         <div class="form-group">
            <label for="txtEndDate">
                项目结束日期</label>
            <input type="text" id="txtEndDate" class="form-control" />    
        </div>
         <div class="form-group">
            <label for="txtSendTime">
                提醒日期</label>
            <input type="text" id="txtSendTime" class="form-control" />    
        </div>
        <div class="form-group">
            <label for="txtRemark">
                备注</label>
            <textarea id="txtRemark" rows="3" class="form-control"></textarea>           
        </div>
        <div class="btn-group" style="display: table; width: auto; margin-left: auto; margin-right: auto;">
            <input type="submit" value="确认" class="btn btn-primary" />
        </div>
    </div>
        -->
</form>
{% endblock %}
